* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/myFont.ttf") format("truetype");
}
body {
  font-family: 'Jost', sans-serif;
  background-color: rgb(0, 0, 0);
  
}


/* Set scrollbar width to 0 */
body::-webkit-scrollbar {
  width: 0;
  
}